<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Survey
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">

          <% if flash[:notice] == "success" %>
            <div class="alert alert-success">
              <strong>Success!</strong> You have created a new survey.
            </div>
          <% elsif flash[:notice] == "fail" %>
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                Please check your fields.
            </div>
          <% end %>

          <div class="well">
                    <div class="row">


                        <script type='text/javascript'>
                              function addFields() {
                                  var number = document.getElementById("q").value;
                                  var container = document.getElementById("container");
                                  while (container.hasChildNodes()) {
                                      container.removeChild(container.lastChild);
                                  }
                                  for (i = 0; i < number; i++) {
                                      container.appendChild(document.createElement("br"));
                                      container.appendChild(document.createTextNode("Question  " + (i + 1) + " "));

                                      var input = document.createElement("input");
                                      var A1 = document.createElement("input");
                                      var A2 = document.createElement("input");
                                      var A3 = document.createElement("input");
                                      var A4 = document.createElement("input");
                                      var A5 = document.createElement("input");

                                      input.type = "text";

                                      A1.type = "text";
                                      A1.id = "q" + (i + 1) + "a1";
                                      A1.name = "q" + (i + 1) + "a1";
                                      A2.type = "text";
                                      A2.id = "q" + (i + 1) + "a2";
                                      A2.name = "q" + (i + 1) + "a2";
                                      A3.type = "text";
                                      A3.id = "q" + (i + 1) + "a3";
                                      A3.name = "q" + (i + 1) + "a3";
                                      A4.type = "text";
                                      A4.id = "q" + (i + 1) + "a4";
                                      A4.name = "q" + (i + 1) + "a4";
                                      A5.type = "text";
                                      A5.id = "q" + (i + 1) + "a5";
                                      A5.name = "q" + (i + 1) + "a5";

                                      input.name = "q" + (i + 1);
                                      input.id = "q" + (i + 1);

                                      container.appendChild(input);
                                      container.appendChild(document.createElement("br"));
                                      container.appendChild(document.createElement("br"));

                                      container.appendChild(document.createTextNode("Answer 1 : "));
                                      container.appendChild(A1);
                                      container.appendChild(document.createElement("br"));

                                      container.appendChild(document.createTextNode("Answer 2 : "));
                                      container.appendChild(A2);
                                      container.appendChild(document.createElement("br"));

                                      container.appendChild(document.createTextNode("Answer 3 : "));
                                      container.appendChild(A3);
                                      container.appendChild(document.createElement("br"));

                                      container.appendChild(document.createTextNode("Answer 4 : "));
                                      container.appendChild(A4);
                                      container.appendChild(document.createElement("br"));

                                      container.appendChild(document.createTextNode("Answer 5 : "));
                                      container.appendChild(A5);
                                      container.appendChild(document.createElement("br"));

                                      container.appendChild(document.createElement("br"));
                                  }
                      	    var hidden_input = document.createElement("input");
                      	    hidden_input.id = "noq";
                            hidden_input.name = "noq";
                      	    hidden_input.type = "hidden"
                      	    hidden_input.value = number;
                      	    container.appendChild(hidden_input);

                            var title_input = document.createElement("input");
                            title_input.id = "ttl";
                            title_input.name = "ttl";
                            title_input.type = "hidden"
                            title_input.value = document.getElementById("title").value;
                            container.appendChild(title_input);

                            var pdate = document.createElement("input");
                            pdate.id = "pdate";
                            pdate.name = "pdate";
                            pdate.type = "hidden"
                            pdate.value = document.getElementById("publish_date").value;
                            container.appendChild(pdate);

                            var edate = document.createElement("input");
                            edate.id = "edate";
                            edate.name = "edate";
                            edate.type = "hidden"
                            edate.value = document.getElementById("end_date").value;
                            container.appendChild(edate);

                            var type_input = document.createElement("input");
                            type_input.id = "typei";
                            type_input.name = "typei";
                            type_input.type = "hidden"
                            type_input.value = document.getElementById("type").value;
                            container.appendChild(type_input);

                      	    var btn = document.createElement("Button");
                      	    btn.type = "submit";
                      	    btn.innerText = "Create";
                      	    btn.setAttribute("class", "btn btn-primary");
                      	    container.appendChild(btn);
                              }
                          </script>

                      <div class="col-md-12">
                        <h4>Survey Title :</h4>
                        <input type="text" id="title" name="title" value="">
                        <h4>Survey Type :</h4>
                        <select name="type" id="type">
                          <option value="Public">Public</option>
                          <option value="Private">Private</option>
                        </select>
                        <h4>Publish Date :</h4>
                        <input type="text" id="publish_date" name="publish_date" value="" placeholder="01.01.2017">
                        <h4>Survey End Date :</h4>
                        <input type="text" id="end_date" name="end_date" value="" placeholder="01.01.2017">
                        <h4>Number of Questions :</h4>
                        <input type="text" id="q" name="q" value="">
                        <input type="submit" id="filldetails" onclick="addFields()" value="Add">
                        <%= form_tag surveymanager_create_path, {class: "form-horizontal"} do %>
                        	<div id="container" />
                        <% end %>
                      </div>

                    </div>
                </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
