<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"></h2>
    </div>
    <h1>Welcome to SurveyHorse</h1>
    <p>Please register and continue with creating a new survey !</p>
    <p>Crazy horse brotherhood</p>
    <p>This is my turn</p>
    <p>See you My Horse</p>
    <p>I turned developed branch</p>
  </div>
